{% extends 'base/base.html' %} {% block content %}
<br>
<table class="table table-hover">
        <thead>
                <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Sexo</th>
                        <th>Edad</th>
                        <th>Fecha de rescate</th>
                        <th>Adoptante</th>
                        <th>Acciones</th>
                </tr>
        </thead>
        <tbody>
                        {% if animales %}
                        {% for animal in animales %}
                <tr>
                        <td>{{animal.id}}</td>
                        <td>{{animal.nombre}}</td>
                        <td>{{animal.sexo}}</td>
                        <td>{{animal.edad_aproximada}}</td>
                        <td>{{animal.fecha_rescate}}</td>
                        <td>{{animal.persona.nombre}} {{animal.persona.apellidos}}</td>
                        <td>
                                        <a href="{% url 'animal_editar' animal.id %}" class="btn btn-primary">Editar</a>
                                        <a href="{% url 'animal_eliminar' animal.id %}" class="btn btn-danger">Eliminar</a>
                        </td>
                </tr>
                {% endfor %}
                {% else %}
                <h1>No hay registros de animales</h1>
                
                {% endif %}
        </tbody>
</table>
{% endblock %}